
  
  .mainnav-title {
    color: black;
  }

  
  .mainnav-title a {
    text-decoration: none;
    transition: color .2s ease-out;
    color: black;
  }
  .mainnav-title a:hover {
    color: purple;
  }

  
